.item-card {
  &-wrapper {
    height: 562px;
    width: 605px;
    position: relative;
    .item-image {
      width: 605px;
      height: 562px;
      position: relative;
    }
    .item-title {
      font-size: 36px;
      font-weight: 500;
      position: absolute;
      bottom: 22%;
      left: 15%;
    }
    .item-button {
      position: absolute;
      bottom: 10%;
      left: 15%;
    }
  }
}
