@import "@/scss/_global-requirements";

.fifth-page {
  &-wrapper {
    display: flex;
    background-color: $white-color;
    width: 100%;
    padding: 0vh 8vw 00px 8vw;
    margin-bottom: 5vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .title {
      display: flex;
      align-items: center;
      flex-direction: column;
      h1 {
        font-size: 36px;
      }
      .subtitle {
        margin-top: 20px;
        color: $light-text-color;
        font-size: 16px;
      }
    }

    .blog-items {
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .view-more {
      margin-top: 50px;
    }
  }
}
