@import "@/scss/_global-requirements";

.shop-items {
  &-wrapper {
    display: flex;
    background-color: $white-color;
    width: 100%;

    padding: 5vh 8vw 5px 8vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .top-items {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
  li {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    margin: 80px 20px;
    background-color: $secondary-color;
  }
}

.filters {
  margin-top: 12vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color-light;
  .left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    .vertical-line {
      height: 40px;
      width: 2px;
      background-color: $light-text-color;
      color: transparent;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 5px;
    }
    h4 {
      font-size: 16px;
      margin: 20px;
      font-weight: 400;
    }
  }
  .right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 30px 0px;
    .text-field {
      padding: 15px 25px;
      font-size: 20px;
      font-weight: 400;
      color: $light-text-color;
      display: flex;
      background-color: $white-color;
    }
    h4 {
      font-size: 20px;
      font-weight: 400;
    }
  }
}
