$max-width: 1440;
$font-chess-sans: "ChessSans";
$font-popin: "Poppins", sans-serif;

$foreground-color: #262522;
$background-color: #faf4f4;

$primary-color: #fbebb5;
$primary-color-light: #faf4f4;
$secondary-color: #fff9e5;
$light-text-color: #9f9f9f;

$white-color: white;
$black-color: black;
